.home h1 {
  font-size: 5rem;
}
.blog-details .blog-img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.nav-tabs .nav-link.active{
  color: rgb(0, 0, 0)!important;
  font-weight: 700;
}
.nav-tabs .nav-link{
  color: rgb(0, 0, 0)!important;
}