@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

a.active,
a:focus,
button:focus,
button.active {
  outline: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  box-shadow: none;
  color: inherit;
}

.color{
  color: #7452f0
}
.bg-color{
  background-color: #7452f0!important;
  color: #fff!important;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.form-control {
  border-radius: 0;
}
.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  transform: translateY(-3px);
  border-radius: 50%;
}
.avatar-lg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transform: translateY(-3px);
  border-radius: 50%;
}

.card{
  border: none!important;
}

@import url("./styles/Navbar.css");
@import url("./styles/Home.css");
@import url("./styles/PostBlog.css");
@import url("./styles/Loading.css");
@import url("./styles/LoadingCom.css");
@import url("./styles/UserDetails.css");
@import url("./styles/Paginate.css");
@import url("./styles/BlogDetails.css");
@import url("./styles/Banner.css");
